.usertext{
    text-decoration: none;
    color: white;
    
}
.continuebtn{
    margin-top:3%; 
    width:20% ;
    height: 60% ;
    text-decoration: none ;
    margin-left: 40%;
}
.wastereport
{
width:65% ; 
height:65% ;
margin-left:20% ;
}