body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.rdt_Table {
  border-radius: 100px;
}

.rdt_Table .rdt_TableRow:hover:nth-child(even) {
  background-color: #c2c1c1;
  color: #fff;
}
.rdt_Table .rdt_TableRow:hover:nth-child(odd) {
  background-color: #c3bfbf;
  color: #000c4a;
}

/* .rdt_Table .rdt_TableRow:nth-child(odd) {
  background-color: rgb(242, 249, 255);
} */
.rdt_Table  .rdt_TableHeadRow{
  font-size: medium;
  background-color: rgb(233, 237, 241);
}
